# Configuration file
# Generated on 24/03/13 19:35

####################
# general
####################

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=22fd81a6-c6b3-41e6-8ff8-fb34baefdfa6

    # Set to true to disable all reporting
    B:opt-out=false
}


